/* DeclaracionAccesoAbierto.module.css */
.declaracionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Fondo claro suave */
    padding: 20px;
  }
  
  .canvas {
    background-color: white;
    padding: 50px;
    width: 80%; /* Ocupa el 80% del ancho de la pantalla */
    max-width: 1200px; /* Máximo ancho para pantallas grandes */
    border-radius: 15px; /* Bordes redondeados más pronunciados */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* Sombra más grande para mejor visualización */
    text-align: center;
    transition: all 0.3s ease; /* Transición para efectos de hover */
  }
  
  .canvas:hover {
    transform: scale(1.02); /* Efecto de agrandamiento sutil al pasar el mouse */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
  }
  
  h2 {
    color: #00994d;
    font-size: 2.5rem; /* Tamaño más grande para el título */
    margin-bottom: 30px;
  }
  
  p {
    font-size: 1.3rem; /* Tamaño de texto un poco más grande */
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .canvas {
      width: 90%; /* En pantallas pequeñas, que ocupe el 90% del ancho */
      padding: 30px;
    }
  
    h2 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.1rem;
    }
  }
  